<p>Listing / Product</p>
<div class="mainContainer">
    <div class="productMainContainer">
        <div class="imagesColumn">
            <div class="imageCard" *ngFor="let img of images" (click)="changeImage(img)">
                <img [src]="img" alt="{{ product?.name }}">
            </div>
        </div>
        <div class="mainImageCard">
            <img [src]="selectedImage" alt="{{ product?.name }}">
        </div>
        <div class="detailsMainContainer">
            <div class="tileAndPrice">
                <div class="productTitle">{{ product?.name }}</div>
                <div class="productPrice">$ {{ product?.price }}</div>
            </div>
            <div class="otherDetails">
                <div class="colorDiv">
                    <div class="colorName">Color: {{ selectedColor }}</div>
                    <div class="colorTemplates">
                        <div class="colorbox"*ngFor="let color of product?.available_colors let i = index"
                            [style.backgroundColor]="color.toLowerCase()"
                            (click)="selectColor(color, i)"
                            [class.selected]="color === selectedColor">
                        </div>
                    </div>
                </div>
                <div class="sizeDiv">
                    <div class="sizeName">Size: {{ selectedSize }}</div>
                    <div class="sizeList">
                        <div class="sizeBox"
                            *ngFor="let size of product?.available_sizes"
                            (click)="selectSize(size)"
                            [class.selected]="size === selectedSize">
                            {{ size }}
                        </div>
                    </div>
                </div>
                <div class="quantityDiv">
                    <div class="quantity">Quantity</div>
                    <select [(ngModel)]="quantity" class="quantitybox">
                        <option *ngFor="let q of quantities" [value]="q">{{ q }}</option>
                    </select>
                </div>
            </div>
            <div (click)="addToCart()" class="addButton"><i class="bi bi-cart3"></i>Add to Card</div>
            <div class="lineDiv"></div>
            <div class="textDetails">
                <div class="details">Details</div>
                <div class="brand">
                    <div class="brandname">Brand:</div>
                    <div class="logoDiv"></div>
                </div>
                <div class="productDescription">{{ product?.description }}</div>
            </div>
         </div>
    </div>
</div>
