<!--Navbar -->
<div class="secondNavContainer">
   <div class="logoContainer">
      <div class="logo">
         <img src="nav/Vector.png" alt="logo">
      </div>
      <div class="title">RedSeam Clothing       
      </div>
   </div>
   <div class="logedInContainer">
      <div class="cartIcon">
         <img src="nav/shopping-cart.png" alt="cart">
      </div>
      <div class="userImage">
         <img src="nav/Union.png" alt="user Image">
      </div>
      <div class="dropDown">
         <img src="nav/chevron-down.png" alt="chevron-down">
      </div>
      
   </div>
</div>

<p>Listing / Product</p>
<div class="mainContainer">
    <div class="productMainContainer">
        <div class="imagesColumn">
            <div class="imageCard"><img src="" alt=""></div>
        </div>
        <div class="mainImageCard">
            <img src="" alt="">
        </div>
        <div class="detailsMainContainer">
            <div class="tileAndPrice">
                <div class="productTitle"></div>
                <div class="productPrice"></div>
            </div>
            <div class="otherDetails">
                <div class="colorDiv"></div>
                <div class="sizeDiv"></div>
                <div class="quantityDiv"></div>
            </div>
            <div class="addButton"></div>
            <div class="textDetails">
                <div class="brand">
                    <div class="brandname"></div>
                    <div class="logoDiv"></div>
                </div>
                <div class="productText"></div>
            </div>
         </div>
    </div>
</div>
