<div mat-dialog-title class="shoppingCard1Main">
    <div class="card1TitleLine">
        <div class="card1Title">Shopping card ({{ items.length }})</div>
        <div (click)="closepopup()" mat-raised-button class="card1Close">X</div>
    </div>
    <div>
        <div class="productListWrapper">
            <div class="productListContainer"*ngFor="let item of items">
                <div class="coverImageContainer">
                    <img [src]="item.image" alt="#" id = "image">
                </div>
                <div class="detailsContainer">
                    <div class="titleContainer">
                        <div class="tileColorSize">
                            <div class="name">{{ item.name }}</div>
                            <div class="color">Color: {{ item.color }} </div>
                            <div class="size">{{ item.size }}</div>
                        </div>
                        <div class="prise">$ {{ item.total }}</div>  
                    </div>
                    <div class="quntityAndRemove">
                        <div class="quantity">
                            <div class="decrieseButt" (click)="decrease(item)">-</div>
                            <div class="quantityNumber">{{ item.quantity }}</div>
                            <div class="increaseButt" (click)="increase(item)">+</div>
                        </div>
                        <div class="remove" (click)="remove(item)">Remove</div>
                    </div>
                </div>
            </div>
        </div>
    <div>
    <div class="checkoutInformation">
        <div class="subtotalContainer">
            <div class="itemsSubtotal" >Items Subtotal</div>
            <div class="subtotalPrice">$ {{ subtotal }}</div>
        </div>
        <div class="delivery">
            <div class="del">Delivery</div>
            <div class="delPrice">$ 5</div>
        </div>
        <div class="sumTotal">
            <div class="total">Total</div>
            <div class="totalPrice">$ {{ subtotal + 5 }}</div>
        </div>
    </div>
    
    <button (click)="goToCheckout()"  class="card1Button">Go to Checkout</button>
    

</div>
