.shoppingCard1Main{
    margin-top: -20px;
}
.card1TitleLine{
    font-size: 20px;
    display: flex;
    gap: 50%;
}
.button{
    width: 200px;
    height: 40px;
    margin-top: 50px;
    margin-left: 80px;
    background-color: orangered;
    border-radius: 5px;
    border: none;
}
.productListContainer{
    width: 350px;
    height: 110px;
    /*border: 1px solid black;*/
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
productListWrapper {
  max-height: 300px;   
  overflow-y: auto;    
  overflow-x: hidden;
}
.coverImageContainer{
    border: 2px solid rgb(175, 170, 170);
    border-radius: 8px;
    width: 100px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    width: 50px;
    height: auto; 
    object-fit: cover;
}
.detailsContainer{
    width: 250px;
    height: 110px;
    /*border: 1px solid black;*/
}
.titleContainer{
    width: 290px;
    height: 70px;
    /*border: 1px solid black;*/
    display: flex;
    gap: 5%;
}
.tileColorSize{
    width: 270px;
    height: 70px;
    font-size: 15px;
    font-weight: 500px;
    

}
.prise{
    width: 50px;
    height: 70px;
    font-size: 15px;
}
.name{
    height: 20px;
    font-size: 15px;
    text-transform: capitalize;
    

}
.color{
    height: 20px;
  
}
.size{
    height: 20px;
 
}
.quntityAndRemove{
    width: 290px;
    display: flex;
    gap: 60%;
    
    cursor: pointer;
}
.quantity{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    border: 2px solid rgb(187, 184, 184);
    border-radius: 15px;
}
.remove{
    font-size: 12px;
    color: gray;
    cursor: pointer;
    
}
.checkoutInformation{
    font-size: 15px;
    margin-top: 300px;
}
.subtotalContainer, .delivery, .sumTotal{
    display: flex;
    justify-content: space-between;
}
.card1Button{
    width: 300px;
    height: 40px;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    color: white;
    margin-left: 40px;
    cursor: pointer;
}