<!--Navbar -->
<div class="secondNavContainer">
   <div class="logoContainer">
      <div class="logo">
         <img src="nav/Vector.png" alt="logo">
      </div>
      <div class="title">RedSeam Clothing       
      </div>
   </div>
   <div class="logedInContainer">
      <div class="cartIcon">
         <img src="nav/shopping-cart.png" alt="cart">
      </div>
      <div class="userImage">
         <img src="nav/Union.png" alt="user Image">
      </div>
      <div class="dropDown">
         <img src="nav/chevron-down.png" alt="chevron-down">
      </div>
      
   </div>
</div>

<!--Main Container -->
<div class="mainContainer"> 
    <!--Filter Line -->
   <div class="filterMainContainer">
      <div class="filterLineTitle">Products</div>
      <div class="filterInfoContainer">
         <div class="showing">Showing {{ filteredItems.length }} of {{ totalProducts }} results</div>

      <!-- Filter Button -->
      <div class="filterBox" (click)="toggleFilter()">
         <div class="slideIcon"><i class="bi bi-sliders"></i></div>
         <div class="filter">Filter</div>
      </div>

      <!-- Sort Dropdown -->
      <div class="sortContainer">
         <div class="sort">Sort by</div>
         <div class="chevronDown" (click)="toggleDropdown()">
            <i class="bi bi-chevron-down"></i>
         </div>
      </div>
      <div *ngIf="dropdownFilter" class="sortDropdown">
         <div class="sortOption" (click)="setSort('newest')">New Product list</div>
         <div class="sortOption" (click)="setSort('low')">Price, low to high</div>
         <div class="sortOption" (click)="setSort('height')">Price, high to low</div>
      </div>
   </div>

   <!-- Filter Window -->
   <div *ngIf="Filter" class="filterWindow">
      <p>Select price</p>
      <div class="inputDiv">
         <input type="number" [(ngModel)]="from" placeholder="From *">
         <input type="number" [(ngModel)]="to" placeholder="To *">
      </div>
       <div class="applyButton">
         <button (click)="filterFunction()">Apply</button>
       </div>  
   
   </div>
</div>

   <!--End Filter Line -->
   <!--Product Container -->
   <div class="productMainContainer">
        <div class="productCardContainer" *ngFor="let item of allItems">
            <div class="productImage"><img [src]="item.cover_image" [alt]="item.name"></div>
            <div class="productTitle">{{ item.name }}</div>
            <div class="productPrice">$ {{ item.price }}</div>
        </div>
   </div>

    
</div>


