<!--Main Container -->
<div class="mainContainer"> 
    <!--Filter Line -->
   <div class="filterMainContainer">
      <div class="filterLineTitle">Products</div>
      <div class="filterInfoContainer">
         <div class="showing">Showing {{ showingFrom }}–{{ showingTo }} of {{ totalProducts }} results</div>

      <!-- Filter Button -->
         <div class="filterBox" (click)="toggleFilter()">
            <div class="slideIcon"><i class="bi bi-sliders"></i></div>
            <div class="filter">Filter</div>
         </div>

         <!-- Sort Dropdown -->
         <div class="sortContainer">
            <div class="sort">Sort by</div>
            <div class="chevronDown" (click)="toggleDropdown()">
               <i class="bi bi-chevron-down"></i>
            </div>
         </div>
         <div *ngIf="dropdownFilter" class="sortDropdown">
            <div class="sortOption" (click)="setSort('newest')">New Product list</div>
            <div class="sortOption" (click)="setSort('low')">Price, low to high</div>
            <div class="sortOption" (click)="setSort('height')">Price, high to low</div>
         </div>
      </div>

   <!-- Filter Window -->
   <div *ngIf="filterVisible" class="filterWindow">
      <p>Select price</p>
      <div class="inputDiv">
         <input type="number" [(ngModel)]="from" placeholder="From *">
         <input type="number" [(ngModel)]="to" placeholder="To *">
      </div>
       <div class="applyButton">
         <button (click)="applyFilter()">Apply</button>
       </div>  
   
   </div>
</div>

   <!--End Filter Line -->
   <!--Product Container -->
   <div class="productMainContainer">
        <div class="productCardContainer" *ngFor="let item of allItems" (click)="goToDetails(item.id)">
            <div class="productImage"><img [src]="item.cover_image" [alt]="item.name"></div>
            <div class="productTitle">{{ item.name }}</div>
            <div class="productPrice">$ {{ item.price }}</div>
        </div>
   </div>

    
</div>
   <!--Ende Product Container -->
<!--Pagination -->
<div class="pagination">
   <a (click)="changePage(actualPage - 1)" [class.disabled]="actualPage === 1">&lt;</a>
  
  <ng-container *ngFor="let p of visiblePages">
    <a *ngIf="isNumber(p)" (click)="changePage(p)" [class.active]="actualPage === p">{{ p }}</a>
    <span *ngIf="!isNumber(p)">...</span>
  </ng-container>

  <a (click)="changePage(actualPage + 1)" [class.disabled]="actualPage === totalPages">&gt;</a>
</div>
<!--End Pagination -->

