<div class="pageMainContainer">
   <div class="pageImageContainer">
      <img src="/pageImage.png" alt="Page Foto">
   </div>
   
      <div class="registrationAndLoginContainer">
           
         <div *ngIf="!isLoginMode" class="registrationContainer">
            <div class="regTitle">Registration</div>
            <div class="profileImageCOntainer">
               <div class="profileImage"><img [src]="avatarPreview" alt="Profile Foto"></div>
               <div class="uploadNew" (click)="fileInput.click()" accept="image/*">Upload New</div>
               <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
               <div class="imageRemove" (click)="removeAvatar()">Remove</div>
            </div>

            <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="fields">
               <div class="userNameFild"><input type="text" name="username"  placeholder="Username *" [(ngModel)]="username" required minlength="3"></div>
               <div class="emailFild"><input type="email" name="email" placeholder="Email *"  [(ngModel)]="email" required email></div>
               <div class="passwordFild">
                  <input [type]="showPassword ? 'text' : 'password'" name="password"
                        placeholder="Password *" [(ngModel)]="password" required minlength="3">
                  <span class="bi bi-eye" (click)="showPassword = !showPassword"></span>
               </div>
               <div class="confirmFild">
                  <input [type]="showConfirmPassword ? 'text' : 'password'"  name="confirmPassword" placeholder="Confirm Password *" [(ngModel)]="confirmPassword" required >
                  <span><i class="bi bi-eye" (click)="showConfirmPassword = !showConfirmPassword"></i></span>
               </div>
            
            <button type="submit" [disabled]="registerForm.invalid" class="registerButton">Register</button>

           </form>
           
            <div class="loginQuestion">
               <div class="question">Already member?</div>
               <div class="logInRedirect" (click)="switchToLogin()">Log in</div>
            </div>
         </div>

         <div *ngIf="isLoginMode" class="loginContainer">
            <div class="loginTitle">Log In</div> 
            <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="fields">
               <div class="emailField">
                  <input type="email" name="loginEmail" placeholder="Email *" [(ngModel)]="loginEmail" required email>
               </div>
               <div class="passwordField">
                  <input [type]="showPassword ? 'text' : 'password'" name="loginPassword"
                     placeholder="Password *" [(ngModel)]="loginPassword" required minlength="3">
                     <span id="visibility" class="bi bi-eye" (click)="showPassword = !showPassword"></span>
               </div>
               <button type="submit" [disabled]="loginForm.invalid" class="loginButton">Log In</button>
            </form>   
            <div  class="registerQuestion">
               <div class="question">Not a member?</div>
               <div class="logInRedirect" (click)="switchToRegister()">Register</div>
            </div>


         </div>
      </div>
   
</div>
