<!--
<div class="firstNavContainer">
   <div class="logoContainer">
      <div class="logo">
         <img src="nav/Vector.png" alt="logo">
      </div>
      <div class="title">RedSeam Clothing       
      </div>
   </div>
   <div class="loginContainer">
      <div class="userIcon">
         <img src="nav/Union.png" alt="">
      </div>
      <div class="login">Log In       
      </div>
   </div>
</div>
-->
<div class="pageMainContainer">
   <div class="pageImageContainer">
      <img src="/pageImage.png" alt="Page Foto">
   </div>
   <div class="registrationAndLoginContainer">
      
      <div class="registrationContainer">
         <div class="regTitle">Registration</div>
         <div class="profileImageCOntainer">
            <div class="profileImage"><img src="/profileImage.png" alt="Profile Foto"></div>
            <div class="uploadNew">Upload New</div>
            <div class="imageRemove">Remove</div>
         </div>
         <div class="fields">
            <div class="userNameFild"><input type="text" placeholder="Username *"></div>
            <div class="emailFild"><input type="email" placeholder="Email *"></div>
            <div class="passwordFild"><input type="text" placeholder="Password *"></div>
            <div class="confirmFild"><input type="text" placeholder="Confirm Password *"></div>
         </div>
         <div class="registerButton">Register</div>
         <div class="loginQuestion">
            <div class="question">Already member?</div>
            <div class="logInRedirect">Log in</div>
         </div>
      </div>
   </div>
</div>
