.secondNavContainer{
    width: 1920px;
    height: 50x;
    /*border: 1px solid black;*/
    display: flex;
    gap: 1400px;
}
.logoContainer{
    display: flex;
    gap: 6px;
    margin-left: 100px;
    margin-top: 20px;

}
.logo img{
    width: 20px;
    height: 20px;

}
.title{
    width: 200px;
    height: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.loginContainer{
    display: flex;
    gap: 6px;
    margin-top: 20px;
}
.userIcon{
    width: 15px;
    height: 15px;
}
.userIcon img{
    width: 15px;
    height: 15px;
}
.secondNavContainer{
    margin-top: 10px;

}
.logedInContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;

}

.userImage img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    /*border: 1px solid black;*/
    padding-top: 10px;
    margin-right: 10px;
   
}
.cartIcon{
    width: 30px;
    height: 30px;
    padding-top: 5px;
}
.dropDown{
    width: 20px;
    font-weight: 500;
}
.userIconContainer{
    display: flex;
}
.loginButton{
    border: none;
    background-color: white;
    cursor: pointer;
}
