<div class="secondNavContainer">
   <div class="logoContainer" (click)="redirect()">
      <div class="logo">
         <img src="nav/Vector.png" alt="logo">
      </div>
      <div class="title">RedSeam Clothing       
      </div>
   </div>
   <div *ngIf="isLoggedIn"  class="logedInContainer">
      <div (click) = "Openpopup()" mat-raised-button class="cartIcon">
         <img src="nav/shopping-cart.png" alt="cart">
         
      </div>
      <div class="userImage">
         <img [src]="userAvatar" alt="user Image">
      </div>
      <div  class="dropDown">
         <img src="nav/chevron-down.png" alt="chevron-down">
      </div>
   </div>
   <div *ngIf="!isLoggedIn" class="userIconContainer">
      <div class="userImage">
         <img src="nav/Union.png" alt="user Icon">
      </div>
      <button (click)="switchToLogin()"class="loginButton">Log In</button>
   </div>
</div>